# onBoard SWITCHES
 # MULTIPLICANDO a
 NET "a<0>" LOC = "A10"; # Bank = 0, Pin name = IO_L37N_GCLK12,         Sch name = SW0
 NET "a<1>" LOC = "D14"; # Bank = 0, Pin name = IO_L65P_SCP3,           Sch name = SW1
 NET "a<2>" LOC = "C14"; # Bank = 0, Pin name = IO_L65N_SCP2,           Sch name = SW2
 NET "a<3>" LOC = "P15"; # Bank = 1, Pin name = IO_L74P_AWAKE_1,        Sch name = SW3
 
 # MULTIPLICADOR x
 NET "x<0>" LOC = "P12"; # Bank = 2, Pin name = IO_L13N_D10,            Sch name = SW4
 NET "x<1>" LOC = "R5";  # Bank = 2, Pin name = IO_L48P_D7,             Sch name = SW5
 NET "x<2>" LOC = "T5";  # Bank = 2, Pin name = IO_L48N_RDWR_B_VREF_2,  Sch name = SW6
 NET "x<3>" LOC = "E4";  # Bank = 3, Pin name = IO_L54P_M3RESET,        Sch name = SW7

# onBoard Leds 
 # RESULTADO p
 NET "p<0>" LOC = "U18"; # Bank = 1, Pin name = IO_L52N_M1DQ15,         Sch name = LD0
 NET "p<1>" LOC = "M14"; # Bank = 1, Pin name = IO_L53P,                Sch name = LD1
 NET "p<2>" LOC = "N14"; # Bank = 1, Pin name = IO_L53N_VREF,           Sch name = LD2
 NET "p<3>" LOC = "L14"; # Bank = 1, Pin name = IO_L61P,                Sch name = LD3
 NET "p<4>" LOC = "M13"; # Bank = 1, Pin name = IO_L61N,                Sch name = LD4
 NET "p<5>" LOC = "D4";  # Bank = 0, Pin name = IO_L1P_HSWAPEN_0,       Sch name = HSWAP/LD5
 NET "p<6>" LOC = "P16"; # Bank = 1, Pin name = IO_L74N_DOUT_BUSY_1,    Sch name = LD6
 NET "p<7>" LOC = "N12"; # Bank = 2, Pin name = IO_L13P_M1_2,           Sch name = M1/LD7
